@page "{guid}"
@model MusicCloud.Webapp.Pages.Artists.DeleteArtistsModel
<h3>Artist löschen</h3>

<div class="border border-danger p-3">
    <p>Soll der Artist @Model.Artist.ArtistName gelöscht werden?</p>
    <form method="post">
        <button asp-page-handler="Delete" type="submit" class="btn btn-danger">Ja</button>
        <button asp-page-handler="Cancel" type="submit" class="btn btn-secondary">Nein</button>
    </form>
</div>
