@page
@model MusicCloud.Webapp.Pages.User.AccessDeniedModel
@inject MusicCloud.Webapp.Services.AuthService AuthService

<h3>Not authorized</h3>

<p>You are not authorized to see this page. </p>
<p><a href="/">Back to Home</a></p>